html {
    height: 100%;
    
  }
  body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .Product-img img {
    width: 100px;
  }
  .row {
    display: flex;
    flex-direction: column;
    
  }
  .main-section {
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 100px;
  }

  .shopping-row{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
  }

  button.home-button {
    justify-self: center;
    border: none;
  
    margin: 4px 2px;
    height: 3rem;
    
  }

  button.sync{
    white-space: nowrap;

  }
  td,th{
    text-align: center;
  }

  .error-message{
    color: red;

  }

  .last-updated{
    width: 15%;
    font-size: small;
  }